html,body{
    height: 100%;
}
.container{
    padding:0;
    margin:0;
    height: 100%;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}
.login-pannel{
    position: absolute;
    top:0;left:0;right:0;bottom:0;
    text-align: center;
    -webkit-background-size:cover;
    background-size:cover;
    background: #f3f5f7 url("../images/loginBg.jpg") center center;
}
.login-pannel .content{
    position: absolute;
    top:0;left:0;right:0;bottom:0;
    background: rgba(100, 100, 100, .12);
}
.login-pannel .avatar-wrapper{
    display: inline-block;
    width: 120px;
    height: 120px;
    text-align: center;
    margin:60px auto 30px;
    border:8px solid rgba(197, 250, 255, 0.7);
    border-radius:50%;
    box-sizing: border-box;
    /*box-shadow: 0 0 8px 0 rgba(0,0,0,.35) ;*/
    filter: drop-shadow(2px 2px 4px rgba(255,255,255,.35));

}
.login-pannel .avatar-wrapper img{
    width: 100%;
}
.login-pannel .form-control{
    display: inline-block;
    width: 70%;
    margin-bottom:20px;
}
.login-pannel .btn{
    width: 70%;
}
.room-wrapper {
    position: relative;
    width:100%;
    height:100%;
    margin: 0 auto;
    font: 500 12px / 1.5 Microsoft YaHei;
}
@media all and (min-width:415px) {
    .container,.room-wrapper,.login-pannel{
        width:415px;
        height:667px;
        margin:0 auto;
    }
}

.room-wrapper .title {
    line-height: 30px;
    background: #01616c;
    background-image: linear-gradient(-45deg, transparent 50%, #0197A6 0);
    color: #fff;
    text-align: center;
}

.room-wrapper .msg-wrapper {
    position: absolute;
    top: 30px;
    bottom: 30px;
    width: 100%;
    border: 1px solid #f3f5f7;
    background: #f3f5f7;
    overflow: hidden;
}

.room-wrapper .msg-wrapper ul {
    padding: 5px;
    margin: 0;
}
.room-wrapper .msg-wrapper ul:after{
    content: '';
    display: block;
    width: 100%;
    height:0;
    clear: both;
    visibility: hidden;
}

.room-wrapper .msg-wrapper li {
    padding: 8px 0;
    width:100%;
    list-style: none;
}
.room-wrapper .msg-wrapper li.left {
    float: right;
}
.room-wrapper .msg-wrapper li.right{
    float: right;
    text-align: right;
}
.room-wrapper .msg-wrapper li.right i{
    float: right;
    margin-left:8px;
}
.room-wrapper .msg-wrapper li.right .msg-box{
    float: right;
}

.room-wrapper .msg-wrapper li.enter, .room-wrapper .msg-wrapper li.leave {
    padding: 0;
    margin:2px 0;
    text-align: center;
    font-size: 12px;
    color: #018592;
}
.room-wrapper .msg-wrapper li.enter span,.room-wrapper .msg-wrapper li.leave span{
    display: inline-block;
    line-height: 24px;
    padding:0 15px;
    border-radius:6px;
    background: #e4e4e4;
    box-sizing: border-box;
    color:#999;
}

.room-wrapper .msg-wrapper li.leave span {
    color: #99061b;
}

.room-wrapper .msg-wrapper li i {
    display: inline-block;
    width: 32px;
    height: 32px;
    padding: 5px;
    vertical-align: top;
    border-radius: 50%;
    font-size: 20px;
    color: #0197A6;
    border: 1px solid #ddd;
    text-align: center;
}

.msg-wrapper li .msg-box {
    display: inline-block;
}

.room-wrapper .msg-wrapper li span.msg {
    position: relative;
    display: block;
    vertical-align: top;
    margin-left: 10px;
    padding: 5px 15px;
    font-size: 12px;
    background: #5db2bd;
    color: #fff;
    border-radius: 3px;
}

.msg-wrapper li span.user {
    display: inline-block;
    padding-left: 10px;
    font-size: 10px;
    line-height: 16px;
    vertical-align: top;
    color: #999;
}

.room-wrapper .msg-wrapper li.left span.msg::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    top: 6px;
    left: -3px;
    background: inherit;
    transform: rotate(45deg);
}
.room-wrapper .msg-wrapper li.right span.msg::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    top: 6px;
    right: -3px;
    background: inherit;
    transform: rotate(45deg);
}
.room-wrapper .msg-wrapper li.owner span.msg::before{
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    top: 6px;
    right: -3px;
    background: inherit;
    transform: rotate(45deg);
}

.msg-send-wrapper {
    display: flex;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 35px;
}

.msg-send-wrapper .form-control {
    flex: 1;
    border-radius: 0;
    height: 35px;
}

.msg-send-wrapper a.btn-success {
    border-radius: 0;
    background: #0197A6;
}

.msg-send-wrapper a.btn-success:hover, .msg-send-wrapper a.btn-success:active {
    background: #018592;
}
.clearfix{
    position: relative;
}
.clearfix::after{
    content:".";
    display: block;
    width: 0;
    height:0;
    clear: both;
    visibility: hidden;
}