body{
    background: #f3f5f7;
}
section{
    margin-top:15px;
    padding:0;
    border:1px solid #ccc;
    border-radius: 5px;
    background: #fff;
}
section > p{
    line-height:30px;
    padding:0 10px;
    font-size:12px;
    color: #fff;
    background: #2c83b2;
}
section .content{
    padding:10px;

}
section .content .box{
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-right:10px;
    margin-bottom:10px;
    border:1px solid #ccc;
}
section .content .box1{
    background: #fff;
    background-image: linear-gradient(90deg,rgba(200,0,0,.5) 50%,transparent 0),
    linear-gradient(rgba(200,0,0,.5) 50%,transparent 0);
    background-size: 40px 40px;
}
section .content .box2{
    background: #58a;
    background-image: linear-gradient(90deg,#fff 1px,transparent 0),
    linear-gradient(#fff 1px,transparent 0);
    background-size: 20px 20px;
}
section .content .box3{
    background: #58a;
    background-image: linear-gradient(90deg,#fff 1px,transparent 0),
                      linear-gradient(#fff 1px,transparent 0),
                      linear-gradient(#fff 2px,transparent 0),
                      linear-gradient(90deg,#fff 2px,transparent 0);
    background-size: 20px 20px,20px 20px,60px 60px,60px 60px;
}
section .content .box4{
    background: #096;
    background-image:radial-gradient(#fff 20%,transparent 0);
    background-size: 40px 40px;
}
section .content .box5{
    background: #096;
    background-image:radial-gradient(#fff 20%,transparent 0),radial-gradient(#fff 20%,transparent 0);
    background-size: 40px 40px;
    background-position: 0 0,20px 20px;
}
section .content .box6{
    border-radius: 15px / 10px;
}
section .content .box7{
    border:none;
    overflow: hidden;
}
section .content .box7 img{
    width: 100%;
    cursor: pointer;
    clip-path: polygon(0 25px,25px 0,175px 0,200px 25px,200px 175px,175px 200px,25px 200px,0 175px);
    transition: clip-path .5s;
}
section .content .box8{
    transform: rotate(45deg);
    margin-right:50px;
    overflow: hidden;
    border:none;
}
section .content .box8 img{
    max-width: 100%;
    transform: rotate(-45deg) scale(1.42);

}

section .content .box9{
    margin-right:50px;
    overflow: hidden;
    border:none;
}
section .content .box9 img{
    clip-path: polygon(50% 0,100% 0,50% 100%,0 50%);
    transition: clip-path 1s;
}
section .content .box9 img:hover{
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
}
section .content .box10{
    padding:8px;
    border:none;
    color: #fff;
    background: #58a;
    background: linear-gradient(-45deg,transparent 15px,#58a 0),linear-gradient(45deg,transparent 15px,#f60 0);
}
section .content .box11{
    padding:8px;
    border:none;
    color: #fff;
    box-sizing: border-box;
    background: #58a;
    background: linear-gradient(-45deg,transparent 15px,#58a 0) right,linear-gradient(45deg,transparent 15px,#f60 0) left;
    background-size:50% 100%;
    background-repeat: no-repeat;
}
section .content .box12{
    padding:8px;
    border:none;
    color: #fff;
    background: #58a;
    background:
            linear-gradient(135deg,transparent 15px,#58a 0) top left,
            linear-gradient(-135deg,transparent 15px,#58a 0) top right,
            linear-gradient(-45deg,transparent 15px,#58a 0) bottom right,
            linear-gradient(45deg,transparent 15px,#58a 0) bottom left;
    background-size:50% 50%;
    background-repeat: no-repeat;
}
section .content .box13{
    padding:8px;
    border:none;
    color: #fff;
    background: #58a;
    background:
            radial-gradient(circle at top left,transparent 15px,#58a 0) top left,
            radial-gradient(circle at top right,transparent 15px,#58a 0) top right,
            radial-gradient(circle at bottom left,transparent 15px,#58a 0) bottom left,
            radial-gradient(circle at bottom right,transparent 15px,#58a 0) bottom right;
    background-size:50% 50%;
    background-repeat: no-repeat;
}

section .content .box14{
    position: relative;
    border-radius: 50%;
    vertical-align: bottom;
    background: #096;
    background-image: linear-gradient(to right,transparent 50%,#655 0);
    color: transparent;
    text-align: center;
}
@keyframes spin {
    to{transform: rotate(.5turn)}
}
@keyframes bg {
    50%{ background: #655;}
}
.box14::before{
    content:".";
    position: absolute;
    top:0;left:50%;
    width:50%;height: 100%;
    border-radius: 0 100% 100% 0 / 50%;
    background-color: inherit;
    transform-origin: left;
    animation: spin 10s linear infinite,bg 20s step-end infinite;
    animation-play-state: paused;
    animation-delay: inherit;
}

section .content .box15{
    position: relative;
    padding:10px;
    background: #2c83b2;
    color: #FFF;
    line-height:1.5;
    /*box-shadow: 0 0 10px rgba(46,164,11,.5);*/
    filter: drop-shadow(2px 2px 6px rgba(0,0,0,.75));
}
.shadow{
    vertical-align: top;
    margin-left:20px;
    filter: drop-shadow(2px 2px 6px rgba(0,0,0,.75));
}
.box15::before{
    position: absolute;
    content:" ";
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    right:-10px;
    top:85px;
    background: inherit;

}
section .content .box16{
    padding:15px;
    border:none;
    color: #fff;
    vertical-align: top;
    background: #58a;
    background:linear-gradient(-135deg,transparent 50%,rgba(0,0,0,.5) 0),linear-gradient(to left bottom,transparent 15px,#58a 0);
    background-size: 22px 22px,auto;
    background-repeat: no-repeat;
    background-position:100% 0 ;
}

