.container {
    font-family: "Microsoft YaHei", sans-serif;
}
.app-box{
    position: relative;
    max-width: 450px;
    height:691px;
    margin:0 auto;
    overflow: hidden;
    box-shadow: 3px 3px 13px rgba(0,0,0,.6);
}
header {
    height: 45px;
    line-height: 45px;
    width: 100%;
    background-color: #5FC3E4;
    background-image: linear-gradient(120deg, #E55D87, #5FC3E4);
    color: #fff;
    text-align: center;
    font-weight: 700;
}
h5{
    font-size:12px;
    color: #fbe705;
}
.main-body {
    position: absolute;
    top: 45px;
    bottom: 0;
    width: 100%;
    max-width: 450px;
    background: #333;
    /*overflow: hidden;*/
}
.main-body ::-webkit-scrollbar,.main-body ::-webkit-scrollbar-track{
    width: 0;
    height: 0;
}
.main-body .group-list {
    padding: 0 10px;
    width: 100%;
    /*height: 100%;*/
    overflow: auto;
}

.group-list > li {
    line-height: 30px;
    padding: 10px 15px;
    margin-top:10px;
    border:1px dashed #999;
    box-sizing: border-box;
}
.group-list > li ul {
    padding-left:10px;
    margin-bottom:0;
}
.group-list > li span{
    display: inline-block;
    padding:0 15px;
    line-height:30px;
    border:1px solid #e9cd12;
    margin-left:10px;
    text-align: center;
    color: #555;
}
.group-list > li ul li{
    display: inline-block;
    line-height:30px;
    padding:0 15px;
    margin-right:5px;
    margin-top:5px;
    border-radius: 4px;
    background: #096;
    color: #fff;
    cursor: pointer;
    transition: all .4s;
}
.group-list > li ul li:hover{
    box-shadow: 0 0 3px rgba(250,250,250,.7),0 0 6px rgba(30,30,30,.6);
    background: #12b5f3;
}
.lyric-wrapper{
    display: none;
    background: rgba(0,0,0,.8);
    z-index: 11;
}
.page-wrapper,.lyric-wrapper{
    position: absolute;
    top:0;left:0;right:0;
    height: 656px;
    /*background: #aaa;*/
    overflow: hidden;
}
.singer-list-hash{
    position: absolute;
    /*z-index: 20;*/
    right:0;
    top:50px;
    padding:0;
    margin-bottom:0;
    border-radius: 3px 0 0 5px;
    color: #e9cd12;
}
.svg-progress{
    position: absolute;
    top: 3px;
    right: 1px;
    padding-top: 5px;
    width:60px;
}
.progress-inner{
    position: absolute;
    width:42px;
    height:42px;
    top: 0;
    left: 0;
    transform: scale(0.9);
    stroke: #8abdaa;
    stroke-width: 4px;
}
.progress-outter{
    position: absolute;
    width:42px;
    height:42px;
    top: 0;
    left: 0;
    transform-origin: 50% 50%;
    transform: scale(0.9) rotate(-90deg);
    stroke: #16a085;
    stroke-width: 5px;
}

.singer-list-hash li{
    display: block;
    list-style: none;
    padding:2px 5px;
    line-height:14px;
    font-size:12px;
    text-align: center;
    background: rgba(0,0,0,.6);
    cursor: pointer;
}
.singer-list-hash li:hover{
    color: #e9cd12;
}
.singer-list-hash li:nth-child(odd){
    background: rgba(0,0,0,.4);
}
.scroll{
    height: 100%;
    overflow-y: auto;
    background: rgba(0,0,0,.3);
}
.singer-list{
    margin-bottom: 0;
    padding: 0 0 15px;
    background: #333;
    overflow-y: auto;
}
.singer-list li{
    list-style: none;
    padding: 3px 8px;
    background: rgba(0,0,0,.6);
}
.singer-list li.singer-category{
    background: #333;
    color: #e1e30f;
    font-size: 12px;
    padding-left: 10px;
    font-weight: 700;
    margin: 0;
    border: none;
}
.singer-list li.singer-category:hover{
    background: #333;
}
.singer-list li:hover{
    background: #222;
}
.singer-list li .avatar{
    height: 50px;
    padding:5px;
}
.singer-name{
    font-size:12px;
    font-weight:600;
    color: #e9cd12;
    padding:0 15px;
}
.singer-detail{
    display: none;
    z-index: 5;
    position: absolute;
    top:0;left:0;right:0;
    height: 656px;
    padding:0 0 20px;
    background: #fff;
    color: #e9cd12;
    overflow: hidden;

}
.singer-detail .scroll-pages{
    padding-top:15px;
    padding-bottom:15px;
    height: 396px;
    background: #333;
    overflow: hidden;
}


.singer-muisic-list{
    padding-left:0;
}
.singer-muisic-list li{
    display: flex;
    list-style: none;
    padding:2px 8px 0;
    cursor: pointer;
    margin-bottom:5px;
    font-size:12px;
    box-shadow: 0 0 2px #666;
}
.singer-muisic-list li .item-left{
    flex: 1;
    padding-left:4px;
}
.singer-muisic-list li .item-right{
    width: 60px;
    text-align: center;
    line-height:54px;
}
.singer-muisic-list li:hover{
    background: #111;
}
.singer-muisic-list li .music-name{
    display: block;
    font-weight:700;
    line-height:25px;
    font-size:12px;
    color: #e9cd12;
}
.avatar-box{
    width: 100%;
    height: 260px;

    overflow: hidden;
    background-size: cover;

}
.avatar-box span{
    display: block;
    line-height:40px;
    font-size:14px;
    font-weight:700;
    background: rgba(0,0,0,.4);
    color: #fff;
    text-align: center;
}
.singer-muisic-list li .music-info{
    display: block;
    line-height:20px;
    font-size:12px;
    color: #e9cd12;
}
.box-mask{
    position: relative;
    background: rgba(0, 0, 0, .8);
}
.box-mask .blur-box{
    position: absolute;
    z-index:0;
    top:0;
    bottom:0;left:0;right:0;
    filter:blur(20px);
    -webkit-filter:blur(20px);
    -ms-filter:blur(20px);
}
.top-wrapper{
    display: flex;
    height: 60px;
    border:1px solid #666;
    border-top:none;
    color:#fff;
    background: rgba(0,0,0,.5);
}
.box-mask .avatar{
    width:60px;
    height: 58px;
    padding:5px;

}
.song-info{
    flex:1;
    padding-left:10px;
}
.player-box .closer,.singer-detail .closer{
    position: absolute;
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height:35px;
    text-align: center;
    right:15px;
    top:15px;
    font-size:24px;
    color: #ccc;
}
.singer-detail .closer{
    top:5px;
}
.closer:hover{
    color: #fff;
}
.player-box{
    display: none;
    z-index: 10;
    position: absolute;
    top:0;
    left:0;
    right:0;
    height: 656px;
}
.player{
    width:60px;
    height: 60px;
    line-height:60px;
    font-size:30px;
    text-align: center;
}
.player:hover i{
    color: #e9cd12;
}
.box-mask{
    height: 656px;
}
.box-mask .middle-wrapper{
    height: 485px;
    line-height:1.3;
    overflow: hidden;
}
.box-mask .middle-wrapper .songname{
    line-height:24px;
    padding-top:20px;
    color:#fff;
    text-align:center;
}
.box-mask .lyr-box{
    width: 100%;
    height:100%;
    overflow: auto;
    text-align: center;
    color: #ddd;
}

.box-mask .lyr-box .albumn{
    display: inline-block;
    margin:50px auto;;
    width: 260px;
    height: 260px;
    border: 10px solid #0e513b;
    box-shadow: 0 0 20px #6b7773;
    border-radius: 50%;
}
.box-mask .lyr-box p.active{
    color: #ebdc06;
}
.rotate-albumn{
    animation: rotates 25s linear infinite;
}
.pause-albumn{
    animation-play-state: paused;
}
.controller{
    display: flex;
    padding:20px;
}
.controller-hook{
    flex: 1;
    font-size:25px;
    text-align: center;
    color: #fff;
}
.controller-hook:hover{
    color: #e9cd12;
}
.bottom-wrapper{
    padding:15px 0;
}
.bottom-wrapper .progress-wrapper{
    display: flex;
    line-height:2;
    color: #EBC70F;
}
.slider{
    position: relative;
    flex:1;
    height: 4px;
    margin-top: 12px;
    border-radius: 2px;
    background: #444;
}
.slider-track{
    display: block;
    height: 4px;
    border-radius: 2px;
    background-image: linear-gradient(to left, rgb(243, 222, 29), #ebc70f);
    transition: width 0.1s;
}
.slider .slider-btn{
    position: absolute;
    left:0;
    top:-6px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transition: left 0.1s;
    background: radial-gradient(#ebc70f, #f3de1d, #cccccc);
    cursor: pointer;
}
.cur_time,.end_time{
    width: 80px;
    text-align: center;
}
.clearfix{
    display: inline-block;
    width: 100%;
}
.clearfix::after{
    display: block;
    content: ".";
    width: 0;
    height:0;
    clear: both;
    visibility: hidden;
}
.lyr-wrapper{
    position: absolute;
    top:60px;
    bottom:50px;
    width: 100%;
    padding:20px 0;
    margin-bottom:0;
    overflow-y: auto;
}
.lyr-wrapper li{
    line-height:2.2;
    text-align: center;
    font-size:12px;
    color: #ccc;
    transition:all 0.15s;
}
.lyr-wrapper li.active{
    color: #e9cd12;
    font-size:14px;
}
.miniplayer{
    display: none;
    position: absolute;
    width: 100%;
    z-index: 15;
    bottom:0;
}
.mini-player-wrapper{
    display: flex;
    color: #fff;
    height: 60px;
    background: rgba(0,0,0,.8);
}
.mini-player-wrapper > .mini-player-avatar,.mini-player-wrapper >.player{
    width: 50px;
    height:50px;
    margin:5px;
}
.mini-player-wrapper > .mini-player-avatar{
    border-radius: 50%;
}
.mini-player-wrapper > .mini-song-info{
    flex:1;
    padding-left:10px;
    border-right:1px solid #666;
}
.pd-5{
    padding:0 5px;
}
@keyframes rotates {
    from{transform: rotate(0deg)}
    to{transform: rotate(360deg)}
}
@media all and (max-width: 768px) {
    .container {
        padding: 0;
    }
    .singer-list-hash li{
        font-size:9px;
        padding:2px 3px;
        line-height:12px;
    }
}
@media all and (min-width: 1024px) {
    .app-box{
        margin:40px auto;
    }
}